/* background image */
.bg-img{
    padding: 500px;
    margin:0;
    background:url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
    overflow-x: hidden;
}

.road{
    background: url(../images/road.jpg);
    position: absolute;
    height: 300px;
    width: 500%;
    display: block;
    left: 0;
    bottom: 0;
    z-index: 2;
    animation: highway 6s linear infinite;
}

.car{
    background: url(../images/car.svg.png);
    height: 150px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 220px;
    left: 300px;
    z-index: 3;
    position: absolute;
    animation: car 0.5s linear infinite alternate;
    /* border: solid; */

}
.wheel{
    position: absolute;
    background:url(../images/98.png);
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 15px;
    left: 50px;
    z-index: 5;
    animation: wheel linear 6s infinite ;
  
    
}
.wh2{
    position: absolute;
    background:url(../images/98.png);
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
    margin-left: 315px;
    bottom: 15px;
    animation: wheel linear 6s infinite ;
    
}

.city{
    background: url(../images/city.png);
    height: 300px;
    width: 500%;
    background-size: contain;
    position: absolute;
    bottom: 300px;
    left: 0;
    animation: city 15s linear infinite;
    z-index: 1;
    display: block;
}

/* keyframes animations */

@keyframes car{
    100% {transform:translateY(-5px);}
    
}

@keyframes highway{

    100% {transform: translateX(-2000px);}
}

@keyframes city {

    100% {transform: translateX(-2000px);}
}

@keyframes wheel{
    100%{transform: rotate(1500deg);}
}

