/* background image */
.bg-img{
    padding: 500px;
    margin:0;
    background:url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
}

.road{
    background: url(../images/road.jpg);
    position: absolute;
    height: 300px;
    width: 500%;
    display: block;
    left: 0;
    bottom: 0;
    z-index: 2;
    animation: highway 10s linear infinite;
}

.car{
    background: url(../images/car.svg.png);
    height: 150px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 220px;
    left: 300px;
    z-index: 3;
    position: absolute;
    animation: car 0.5s linear infinite;

}

.city{
    background: url(../images/city.png);
    height: 300px;
    width: 500%;
    background-size: contain;
    position: absolute;
    bottom: 300px;
    left: 0;
    animation: city 10s linear infinite;
}

/* keyframes animations */

